<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vital Signs Monitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="full-container">
  <ion-slides>
    <ion-slide class="content">

      <app-vital-signs-bar></app-vital-signs-bar>


      <div class="plot" id="dynamicSpline" style="width:100%; height:400px;"></div>
    </ion-slide>
    <ion-slide class="content">
      <app-vital-signs-bar></app-vital-signs-bar>

      <div class="plot" id="dynamicSpline2" style="width:100%; height:400px;"></div>
    </ion-slide>
  </ion-slides>
  
</ion-content>
